.o_user_style {
	display: block;
    max-width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #212529;
    background-color: #FFFFFF;
    border: 1px solid ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.4rem;
}
.o_user_style_group {
	display: block;
    max-width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #3584e4;
    background-color: #FFFFFF;
    border: 1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.8rem;
}
